body {
    font-size: medium;
    font-family: Georgia, Arial, Impact;
}

body {
    font-family: Avenir, sans-serif;
    padding: 0;
    margin: 0;
    text-align: justify;
    box-sizing: border-box;
    background: #282828; /* Modification de la couleur de fond */
}

p {
    font-size: 1em;
    line-height: 1.5em;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    border-bottom: 2px solid #282828

}

footer {
    border-top: 2px solid #282828   ;
}

/* Le reste de votre CSS reste inchangé. */


/*SECTIONS*/
/*SECTIONS*/
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 20px auto; /* Ajout de marges pour séparer les sections */
    box-shadow: 0px 0px 10px #313030;
    background-color: #404040;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

section h2{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}

 section:first-child {
    padding-top: 80px; /* Ajustez cette valeur selon votre préférence */
}   


.photo{
    text-align: center;
}
.photo img{
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
    margin-top: -80px;
}
.prez{
    border-bottom: 2px dashed #ccc;
}
.prez a{
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px auto 30px auto;
    color: #fff;
    background-color: #4B8;
    border-radius: 5px;
}
.contact-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.contact-flex p:first-child{
    flex: 0 0 40%;
}
.contact-flex p:last-child{
    flex: 0 0 60%;
}
.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}

/*SECTION EXP ET FORMATION*/
.exp{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid #bbb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.exp-info{
    display: flex;
    flex-flow: column wrap;
}
.exp-logo{
    flex: 0 0 25%;
    max-width: 100px;
}
.exp-info{
    flex: 0 0 70%;
    margin-left: auto;
}
.exp img{
    width: 100%;
}
.exp h3{
    font-size:  1.2em;
}
.exp h4{
    font-size:  1em;
    font-weight: normal;
}

/*SECTION COMPETENCES*/
.h3gauche{
    width: 90%;
}
.comp{
    display:flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.comp p{
    flex: 0 0 40%;
}
.conteneur-barre{
    flex: 0 0 60%;
    border-radius: 5px;
    background-color: grey;
    border-bottom: 1px ridge grey;
}
.barre{
    display: block;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.c85{
    width: 95%;
    background-color: #4B8;
}
.c90{
    width: 90%;
    background-color: #4B8;
}
.c95{
    width: 95%;
    background-color: #4B8;
}
.c100{
    width: 94%;
    background-color: #4B8;
    border-radius: 5px;
}

.c110{
    width: 80%;
    background-color: #4B8;
    border-radius: 5px;
}


.c111{
    width: 90%;
    background-color: #4B8;
    border-radius: 5px;
}

.comp2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.conteneur-barre2{
    flex: 0 0 100%;
    height: 0.5em;
    margin-bottom: 0.25em;
    border-radius: 5px;
    background-color: grey;
}

/*SECTION INTERETS*/
.interet{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 20px;
}
.interet img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #555;
}

/*VERSION BUREAU DU CV*/
@media screen and (min-width: 980px){
    section{
        width: 80%;
    }
    a:hover{
        color: #EA0;
    }
    header h1{
        width: 80%;
    }
    .prez, .contact{
        flex: 0 0 45%;
    }
    .prez{
        border-bottom: none;
        border-right: 2px solid #ccc;
        padding-right: 20px;
        margin-left: auto;
    }
    .contact{
        padding-left: 20px;
        margin-right: auto;
    }
    .prez a{
        border: 2px solid transparent;
    }
    .prez a:hover{
        color: rgb(58, 74, 255);
        background-color: #fff;
        border: 2px solid rgb(58, 74, 255);
        box-shadow: 0px 0px 20px #666;
    }
    .exp-logo{
        flex: 0 0 10%;
    }
    .exp-info, .exp-desc{
        flex: 0 0 85%;
        margin-left: auto;
    }
    .interet{
        flex: 0 1 25%;
    }
}





/* Annulation des styles de Bootstrap */
body {
    background-color: #282828 !important; /* Remplacez par votre couleur de fond souhaitée */
}


/* Annulation du style par défaut de Bootstrap pour la navbar */
.navbar-dark .navbar-nav .nav-link {
    color: #fff !important; 

}


/* Styles pour personnaliser les cartes */
.card-custom {
    background-color: #333; /* Couleur de fond sombre */
    color: #fff; /* Texte en blanc */
    border: 1px solid #ffffff00; /* Bordure blanche */
}

.card-custom .btn {
    background-color: #4B8; /* Couleur de fond du bouton */
    color: #fff; /* Texte du bouton en blanc */
}

.card-custom .btn:hover {
    background-color: rgb(33, 106, 74); /* Couleur de fond du bouton au survol */
}






